extends layout/master

block header
  include layout/header

block content
  .container
    .row
      .col-xs-12
        h1 Indice
        ul
          li
            a(href="/home.html") Koliman 1
          li
            a(href="/home.html") Koliman 2
