footer.footer
  .container
    .row
      .col-xs-4.text-center
        | Dirección
      .col-xs-4.text-center
        | Aviso Legal
      .col-xs-4.text-center
        | &copy; Koliman 2018
        
