header
  nav.navbar.navbar-default
    .container
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-brand-centered")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand.navbar-brand-centered
              img(src='assets/img/logo.png')
        #navbar-brand-centered.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="#") ¿Quiénes somos?
            li
              a(href="#") Servicios
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#") Inversionistas
            li
              a(href="#") Contacto
